h1 {
  font-size: 6rem;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

p {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  display: inline-block;
  font-family: 'Architects Daughter', cursive;
}

input {
  width: 200px;
  font-size: 1.5rem;
  background-color: #e8ffff;
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
}

.welcome {
  font-family: 'Dancing Script', cursive;
}

.denied {
  font-family: 'Stalinist One', cursive;
}

.input-block {
  position: relative;
  width: 500px;
  margin-top: 10%;
  height: 300px;
  left: 50%;
  margin-left: -250px;
  border: 1px solid;
  border-radius: 30px;
}

.form-group {
  height: 100px;
  width: 400px;
  position: relative;
  left: 50%;
  margin-left: -200px;
}

.submitButton {
  top: 20px;
  font-size: 1.5rem;
  width: 150px;
  position: relative;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  border-radius: 15px;
  background-color: #e8ffff;
  font-family: 'Architects Daughter', cursive;
}
